/* Globals */

:root {
  /* https://projects.invisionapp.com/boards/HE2VVROFSGB27 */
  --brand-background: #270f34;
  --brand-lines: #4b3457;
  /* Blockstack colors */
  --brand-dark: #211f6d;
  --brand-mild: #c4d8e5;
  --brand-greyish: #f1f6f9;
  --brand-bright: #3700ff;
  --brand-accent: #00d4ff;
}

html,
body {
  background-color: #f4f4fc;
}

inspect {
  border: thin solid red;
}

.Landing {
  background-color: azure;
}

.Landing .jumbotron {
  opacity: 0.92;
}

.navbar-dark {
  background-color: var(--brand-bright) !important;
}

/* Avatar */

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Scaffolding */

#App {
  min-height: 100vh;
}

.panel-landing {
  max-width: 50em;
  margin: auto;
}

.monster {
  filter: grayscale(100);
}


.container-contact100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: #e6e6e6
}

.wrap-contact100 {
	width: 920px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	padding: 62px 55px 90px
}

.contact100-form {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.contact100-form-title {
	display: block;
	width: 100%;
	font-size: 39px;
	color: #333;
	line-height: 1.2;
	text-align: center;
	padding-bottom: 59px
}

.wrap-input100 {
	width: 100%;
	position: relative;
	border: 1px solid #e6e6e6;
	border-radius: 13px;
	padding: 10px 30px 9px 22px;
	margin-bottom: 20px
}

.rs1-wrap-input100 {
	width: calc((100% - 30px)/2)
}

.label-input100 {
	font-size: 14px;
	color: #393939;
	line-height: 1.5;
	text-transform: uppercase
}

.input100 {
	display: block;
	width: 100%;
	background: 0 0;
  font-weight: bold;
	font-size: 18px;
	color: #555;
	line-height: 1.2;
	padding-right: 15px
}

input.input100 {
	height: 40px;
  border: 0 !important;
}
input.input100 :focus
{
  border: 0 !important;
}

textarea.input100 {
	min-height: 120px;
	padding-top: 9px;
	padding-bottom: 13px
}

.input100:focus+.focus-input100::before {
	width: 100%
}

.has-val.input100+.focus-input100::before {
	width: 100%
}

.container-contact100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	width: 100%
}

.contact100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 50px;
	background-color: #333;
	border-radius: 25px;
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s
}

.contact100-form-btn i {
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s
}

.contact100-form-btn:hover {
	background-color: #00ad5f
}

.contact100-form-btn:hover i {
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	-ms-transform: translateX(10px);
	-o-transform: translateX(10px);
	transform: translateX(10px)
}

@media(max-width:768px) {
	.rs1-wrap-input100 {
		width: 100%
	}
}

@media(max-width:576px) {
	.wrap-contact100 {
		padding: 62px 15px 90px
	}
	.wrap-input100 {
		padding: 10px 10px 9px
	}
}

.validate-input {
	position: relative
}

.alert-validate::before {
	content: attr(data-validate);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	min-height: 40px;
	background-color: #f7f7f7;
	top: 35px;
	left: 0;
	padding: 0 45px 0 22px;
	pointer-events: none;
	font-size: 14px;
	color: #000;
	line-height: 1.2
}

.btn-hide-validate {
	font-family: Material-Design-Iconic-Font;
	font-size: 14px;
	color: #000;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 35px;
	right: 12px
}

.rs1-alert-validate.alert-validate::before {
	background-color: #fff
}

.true-validate::after {
	content: "\f26b";
	font-family: Material-Design-Iconic-Font;
	font-size: 18px;
	color: #00ad5f;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 35px;
	right: 10px
}

@media(max-width:576px) {
	.alert-validate::before {
		padding: 0 10px
	}
	.true-validate::after,
	.btn-hide-validate {
		right: 0;
		width: 30px
	}
}

.select2-container {
	display: block;
	max-width: 100%!important;
	width: auto!important
}

.select2-container .select2-selection--single {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	height: 40px;
	outline: none;
	position: relative
}

.select2-container .select2-selection--single .select2-selection__rendered {
	font-size: 18px;
	color: #555;
	line-height: 1.2;
	padding-left: 0;
	background-color: transparent
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: flex-end
}

.select2-selection__arrow b {
	display: none
}

.select2-selection__arrow::before {
	content: '\f312';
	font-family: Material-Design-Iconic-Font;
	font-size: 18px;
	color: #555
}

.select2-container--open .select2-dropdown {
	z-index: 1251;
	width: calc(100% + 2px);
	border: 0 solid transparent;
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;
	left: -24px;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
	-o-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
	-ms-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2)
}

@media(max-width:576px) {
	.select2-container--open .select2-dropdown {
		left: -12px
	}
}

.select2-dropdown--above {
	top: -38px
}

.select2-dropdown--below {
	top: 10px
}

.select2-container .select2-results__option[aria-selected] {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 24px
}

@media(max-width:576px) {
	.select2-container .select2-results__option[aria-selected] {
		padding-left: 12px
	}
}

.select2-container .select2-results__option[aria-selected=true] {
	background: #00ad5f;
	color: #fff
}

.select2-container .select2-results__option--highlighted[aria-selected] {
	background: #00ad5f;
	color: #fff
}

.select2-results__options {
	font-size: 14px;
	color: #555;
	line-height: 1.2
}

.select2-search--dropdown .select2-search__field {
	border: 1px solid #aaa;
	outline: none;
	font-family: Poppins-Regular;
	font-size: 15px;
	color: #333;
	line-height: 1.2
}

.wrap-input100 .dropDownSelect2 .select2-container--open {
	width: 100%!important
}

.wrap-input100 .dropDownSelect2 .select2-dropdown {
	width: calc(100% + 2px)!important
}

.wrap-contact100-form-radio {
	width: 100%;
	padding: 15px 25px 0
}

.contact100-form-radio {
	padding-bottom: 5px
}

.input-radio100 {
	display: none
}

.label-radio100 {
	display: block;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	font-size: 18px;
	color: #555;
	line-height: 1.2
}

.label-radio100::before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #cdcdcd;
	background: #fff;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%)
}

.label-radio100::after {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 6px solid transparent;
	background: #00ad5f;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: none
}

.input-radio100:checked+.label-radio100::after {
	display: block
}

.wrap-contact100-form-range {
	width: 100%;
	padding: 20px 25px 57px
}

.contact100-form-range-value {
	font-size: 18px;
	color: #555;
	line-height: 1.2;
	padding-top: 10px;
	padding-bottom: 30px
}

.contact100-form-range-value input {
	display: none
}

#filter-bar {
	height: 20px;
	border: 1px solid #e6e6e6;
	border-radius: 9px;
	background-color: #f7f7f7
}

#filter-bar .noUi-connect {
	border: 1px solid #e6e6e6;
	border-radius: 9px;
	background-color: #00ad5f;
	box-shadow: none
}

#filter-bar .noUi-handle {
	width: 40px;
	height: 36px;
	border: 1px solid #ccc;
	border-radius: 9px;
	background: #f5f5f5;
	cursor: pointer;
	box-shadow: none;
	outline: none;
	top: -8px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center
}

#filter-bar .noUi-handle.noUi-handle-lower {
	left: -1px
}

#filter-bar .noUi-handle.noUi-handle-upper {
	left: -39px
}

#filter-bar .noUi-handle:before {
	content: "";
	display: block;
	position: unset;
	height: 12px;
	width: 9px;
	background-color: transparent;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc
}

#filter-bar .noUi-handle:after {
	display: none
}

@media(max-width:576px) {
	.wrap-contact100-form-range {
		padding: 20px 0 57px
	}
	.wrap-contact100-form-radio {
		padding: 15px 0 0
	}
}
.text-right
{
  text-align:right;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group label {
  position: absolute;
  top: 0;
  font-size:15px;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-moz-placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:-ms-input-placeholder) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .form-label-group label {
    position: static;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}
.removeField{
  margin-top:10px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 30px !important;
  width: 35px !important;
}